<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>问卷管理</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
    <style>
        .ui.container {
            padding-top: 1.5rem;
        }

        .question {
            height: 320px;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body id="main">
<div class="ui container" v-cloak>
    <h2 class="ui dividing blue header">{{questionnaire.title}}</h2>

    <div class="ui list">
        <div class="item" v-for="question in questionnaire.questions">
            <div class="content">
            <div class="header">{{question.content}}</div>

            <div class="ui list">
                <div class="item" v-for="(index,option) in question.options">
                    {{'选项'+(index+1)+'：'+option.content}}
                </div>
            </div>
            </div>
            <div class="question" id="{{question._id}}"></div>
            <div class="ui divider"></div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/0.10.1/fetch.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="/manage/js/statistics.js"></script>
</body>
</html>